#block {
  margin-top: 150px;
  text-align: center;
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
}
#block h1 {
  color: #222;
  font-size: 38px;
  font-weight: 400;
  line-height: 30px;
  text-shadow: 1px 1px 0 #eee;
}
#block h2 {
  font-size: 22px;
  color: #008cdd;
  font-weight: 400;
  line-height: 30px;
}
#block p {
  line-height: 30px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 25px;
  color: #999;
}
#block p a {
  color: #999;
  text-decoration: underline;
}
#block p a:hover {
  color: #008cdd;
}
